certifi==2025.11.12
charset-normalizer==3.4.4
cloudscraper==1.2.71
humanize==4.15.0
idna==3.11
packaging==25.0
pymage-size==1.7.1
pyparsing==3.3.1
pywin32==311
requests==2.32.5
requests-toolbelt==1.0.0
show-in-file-manager==1.1.5
urllib3==2.6.2
